{% include "_header.html" %}

        <div class="container">
            <h1>index page</h1>
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <form>
                <div class="form-name">Form name</div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="form-control">
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn">btn</button>
                </div>
            </form>
        </div>

{% include "_footer.html" %}